:root {
	font-family: "Inconsolata", Menlo, Chicago, Geneva;
	font-size: .8rem;
}

@font-face {
    font-family: "ChiKareGo2";
    src: url("assets/fonts/ChiKareGo2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
	margin: unset;
}


/* headings */

h1, h2, h3, h4, h5, h6 {
	margin-block: unset;
}


/* inline */

a {
	color: unset;
	text-decoration: unset;
}