.main-box {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px dotted black;
    padding: 0.25em 1em;
    background-color: #fefefa;

    div.thoughts {
        font-family: inherit;
        font-size: inherit;
        white-space: pre-wrap;
        margin: 0.8rem;
        display: none;
    }

    div.thoughts.open {
        display: block;
    }
}

#nav {
    margin-top: -0.4rem;
    text-align: center;
}

.media-info {
    margin: -0.4rem 0rem -0.4rem 0rem;
    display: flex;
    width: 100%;
}

.media-type {
    width: 1.6rem;
}

.media-info .right {
    text-align: right;
    margin-left: auto;
}

button {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 0.4rem;
    align-self: center;
    user-select: none;
}

button:hover {
    text-decoration: underline;
}


