/* #stem-wrapper {
  padding-left: 200px;
} */

#play-area {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

#player{
  background-color: black;
  width: 600px;
  height: 600px;
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
}

#carts {
  display: grid;
  grid-template-columns: repeat(auto-fill, 135px);
  gap: 20px;
  margin: 15px 5px;
}

.cart {
  cursor: pointer;
  width: 135px;
}

