#root-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#stem-wrapper {
    width: 800px;
    display: flex;
    gap: 2em;
}

.main-box {
    position: relative;
    border: 1px dotted black;
    padding: 0.25em 1em;
    background-color: #fefefa;

    h3 {
        margin: 0;
        padding-left: 0.5em;
        margin-left: -2.5em;
        margin-right: -1em;
        background-color: #f5eee4;
        color: olivedrab;
        border: 1px solid #e8d0b0;
		font-size: 13.5px;
    }

    p {
        margin: 15px 5px;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 10px 5px;
    }

    li {
        margin-bottom: 0.2em;
    }
}

header {
    display: flex;
    flex-direction: column;

    h3 {
        position: relative;
        margin-left: -2.5em;
        bottom: -35px;
        background-color: #f5eee4;
        color: olivedrab;
        border: 1px solid #e8d0b0;
        font-size: 13.5px;
    }
}

#header-img {
    width: 800px;
    height: 180px;
    object-fit: cover;
    object-position: 0% 70%;
    margin-bottom: -10px;
}

#header-title {
    width: max-content;
    height: 50px;
    margin: -35px 0px 20px -15px;
	background-color: #fefefa;
	border: 1px dotted black;
    padding: 0.5em 0.5em;
}


#main-wrapper {
    flex: 1 1 75%;
	display: flex;
    flex-direction: column;
    gap: 1em;
}

#side-wrapper {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 10.5px;
}

.side-box {
	position: relative;
    border: 1px dotted black;
    padding: 0.25em 1em;
    background-color: #fefefa;

    h3 {
		margin: 0;
		margin-left: -1em;
		margin-right: -1em;
        background-color: #f5eee4;
        color: olivedrab;
        border: 1px solid #e8d0b0;
		font-size: 13.5px;
	}

    p {
        margin: 10px 5px;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 15px 5px;
    }

    li {
        margin-bottom: 15px;
    }

    li:last-child {
        margin-bottom: 0;
    }
}

