html {
	font-family: "Barecast", "Inconsolata", Menlo, Chicago, Geneva;
    font-size: 12px;
}

body {
    background: linear-gradient(to bottom, #f4ebdf, transparent calc(50% + 72px)) #f4f4f1 fixed;
    margin: 0;
	height: 100vh;
    display: flex;
    justify-content: center;
	position: relative;
}


@font-face {
    font-family: Barecast;
    src: url("assets/fonts/barecastThin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Barecast;
    src: url("assets/fonts/barecastRegular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

body {
	margin: unset;
}


/* headings */

h1, h2, h3, h4, h5, h6 {
	margin-block: unset;
}


/* inline */

a {
    color: olivedrab;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    image-rendering: pixelated;
}