/*
OVERARCHING
*/

#root-wrapper {
	position: absolute;
    display: flex;
    gap: 2.5em;
    margin-top: 80px;
}

#header-title {
	position: absolute;
	margin-top: -15px;
	margin-left: -15px;
	background-color: #fefefa;
	border: 1px dotted black;
    padding: 0.5em 0.5em;
}

#header-img {
	height: 180px;
	border: 1px dotted black;
}


/* 
MAIN WRAPPER STUFF 
*/

#main-wrapper {
	display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 350px;
}

.main-box {
    position: relative;
    border: 1px dotted black;
    padding: 0.25em 1em;
    background-color: #fefefa;

    h3 {
        margin: 0;
        padding-left: 0.5em;
        margin-left: -2.5em;
        margin-right: -1em;
        background-color: #f5eee4;
        color: olivedrab;
        border: 1px solid #e8d0b0;
		font-size: 13.5px;
    }

    p {
        margin: 5px 0;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 5px 0;
    }

    li {
        margin-bottom: 0.2em;
    }
}



#boxes-row {
    display: flex;
    gap: 10px;

	.main-box {
		gap: 10px;
		max-width: 180px;
	}
}


#boxes-row img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* 
SIDE WRAPPER STUFF 
*/

#side-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1em;
	max-width: 150px;
	font-size: 10.5px;

	img {
		pointer-events: none;
	}

	h3 {
		margin: 0;
		margin-left: -1em;
		margin-right: -1em;
        background-color: #f5eee4;
        color: olivedrab;
        border: 1px solid #e8d0b0;
		font-size: 13.5px;
	}
}

.side-box {
	position: relative;
    border: 1px dotted black;
    padding: 0.25em 1em;
    background-color: #fefefa;
}

#nav {
	position: relative;
	height: 200px;
	border: 1px dotted black;
	background: radial-gradient(circle, #999 1px, transparent 1px);
	background-size: 25px 25px;
	background-color: #fefefa;
	margin: -9px 0px 20px -9px;

	ul {
		padding: 0.25em 1em;
	}
	li {
		font-size: 13px;
		display: inline;
	}

    ::before {
        content: "";
        position: absolute;
        bottom: -6px;
        right: -6px;
        width: 100%;
        height: 100%;
        background: #fefefa;
        border: 1px dotted black;
        transform: rotate(1.2deg);
        z-index: -1;
    }
    ::after {
        content: "";
        position: absolute;
        bottom: -11px;
        right: -11px;
        width: 100%;
        height: 100%;
        background: #fefefa;
        border: 1px dotted black;
        transform: rotate(-0.8deg);
        z-index: -2;
    }
}


.plantdiv {
    image-rendering: auto;
    margin: -0.5em 0px -0.5em 0px;
}


#updates {
    max-height: 125px;
    overflow-y: auto;
    padding: 0.25em 0em;

	h2 {
		grid-column: 1 / 3;
	}
	ul {
		list-style: none;
		padding-left: unset;
		margin-block: 0.5em;
	}
}

