body {
    background: linear-gradient(to bottom, #f4ebdf, transparent calc(50% + 72px)) #f4f4f1 fixed;
    margin: 0;
	height: 100vh;
    display: flex;
    justify-content: center;
	position: relative;
}


/*
OVERARCHING
*/

a {
	color: olivedrab;
	/* color: color-mix(in srgb, currentcolor, #45d1a1); */
}

#root-wrapper {
	position: absolute;
	margin-top: 80px;
    display: flex;
    gap: 2.5em;
}

#header_title {
	position: absolute;
	margin-top: -15px;
	margin-left: -15px;
	image-rendering: pixelated;
	background-color: #fefefa;
	border: 1px dotted black;
	z-index: 10;
}

#header_img {
	height: 180px;
	border: 1px dotted black;
	image-rendering: pixelated;
}


/* 
MAIN WRAPPER STUFF 
*/

#main-wrapper {
	display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 350px;
}

.main-box {
    position: relative;
    border: 1px dotted black;
    padding: 0.25em 1em;
    background-color: #fefefa;

    h3 {
        margin: 0;
        margin-left: -2.5em;
        margin-right: -1em;
        background-color: #f5eee4;
        color: olivedrab;
        filter: drop-shadow(1px 1px 0 #e8d0b0) drop-shadow(-1px -1px 0 #e8d0b0);
		font-size: 13.5px;
    }

    p {
        margin: 5px 0;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 5px 0;
    }

    li {
        margin-bottom: 0.2em;
    }
}



#boxes-row {
    display: flex;
    gap: 10px;

	.main-box {
		gap: 10px;
		max-width: 180px;
	}
}


/* 
SIDE WRAPPER STUFF 
*/

#side-wrapper {
	display: flex;
	flex-direction: column;
	gap: .5em;
	max-width: 150px;
	font-size: 10.5px;

	img {
		pointer-events: none;
	}

	h3 {
		margin: 0;
		margin-left: -1em;
		margin-right: -1em;
        background-color: #f5eee4;
        color: olivedrab;
        filter: drop-shadow(1px 1px 0 #e8d0b0) drop-shadow(-1px -1px 0 #e8d0b0);
		font-size: 13.5px;
	}
}

.side-box {
	position: relative;
    border: 1px dotted black;
    padding: 0.25em 1em;
    background-color: #fefefa;
}

#nav {
	height: 180px;
	border: 1px dotted black;
	background-color: #fefefa;

	ul {
		padding: 0.25em 1em;
	}
	li {
		font-size: 13px;
		display: inline;
	}
}

#updates {
	h2 {
		grid-column: 1 / 3;
	}
	ul {
		list-style: none;
		padding-left: unset;
		margin-block: 0.5em;
	}
}

